@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --clr-primary: #151515;
    --clr-secondary: hsl(0, 0%, 14%);
    --clr-accent: #BAAE70;
    --clr-accent-500: #938955;
    --clr-white: #e7e5df;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--clr-white);
}

.logo{
    
    text-align: center;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.logo img{
    width: 4.2rem;
    margin-top: 2.5rem;
}
.left{
    position: fixed;
    height: 100vh;
    text-align: center;
    width: 7.5%;
}

.menu{
    position: absolute;
    top: 50%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    cursor: pointer;
}

.menu p{
    font-size: 1rem;
    color: var(--clr-primary);
}
.menu img{
    width: 2.5rem;
    padding-right: 1rem;
}

.right{
    position: fixed;
    right: 0;
    height: 100vh;
    text-align: center;
    width: 7.5%;
}

.socials{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    position: absolute;
    top: 25%;
    right: 25%;
    font-size: 0.937rem;
}

.socials ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
.socials ul li{
    margin: 2rem 0;
}
.container{
    position: relative;
    max-width: 85%;
    margin: 0 auto;
}
/* hero */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.hero .hero-text {
    font-size: 9.375rem;
}
.about .about-diamond-top{
    position: absolute;
    top: -2.78rem;
    right: 2.5rem;
    width: 5.5rem;
}
.about .about-diamond-bottom{
    position: absolute;
    bottom: -2.78rem;
    width: 5.5rem;
}
.scroll-down{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    position: absolute;
    bottom: 7%;
}
.scroll-down .arrow {
    font-size: 2rem;
    color: var(--clr-secondary);
}
.scroll-down p{
    margin-bottom: 0;
    font-size: 1.2rem;
    font-family: Dosis, sans-serif;
    letter-spacing: 5px;
    color: var(--clr-secondary);
}

/* about */

.about{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: rem;
    border-top: 0.06rem solid var(--clr-primary);
    border-bottom: 0.06rem solid var(--clr-primary);
}

.about-img{
    position: relative;
    bottom: 0;
    justify-content: baseline;
    width:50%;
    height: 100vh;
}

.about-img img{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.about-text{
    position: relative;
    width: 50%;
    height: 100vh;
}
.text-container{
    position: absolute;
    padding-left: 10rem;
    top: 50%;
}
.about-header{
    top: 0;
    height: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: end;
    margin: 0;
}
.about-header img{
    width: 5rem;
    height: 5rem;
}
.about-header h1{
    font-size: 7.5rem;
    font-weight: 700;
    color: var(--clr-primary);
}

.about-info{
text-align: right;
font-size: 1.5rem;
}
.borderLeft {
    border-left:0.06rem solid var(--clr-primary);
    position: absolute;
    top: 75%;
    bottom: 0;
}

.btn-group-container{
    display: flex;
    gap: 1rem;
    justify-content: end;
}
.lightbtn{
    background-color: var(--clr-white);
    color: var(--clr-secondary);
    border: 0.06rem solid var(--clr-secondary);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.lightbtn:hover{
    background-color: var(--clr-secondary);
    color: var(--clr-white);
    transition: all 0.3s ease-in-out;
}
.darkbtn{
    background-color: var(--clr-accent);
    color: var(--clr-white);
    border: 0.06rem solid var(--clr-accent);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.darkbtn:hover{
    background-color: var(--clr-accent-500);
    transition: all 0.3s ease-in-out;
}